<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <footer class="site-footer" th:fragment="rodape">
        <div class="container">
            <span class="footer-brand">Crud Manager Spring</span>
            <small>Desenvolvido para o Instituto Federal do Sul de Minas — Campus Machado.</small><br>
            <small>UI por <a href="#">João Henrique Souza Almeida</a> e <a href="#"> Enrique Rocha Lobo da Silva</a></small>
        </div>
    </footer>

</body>
</html>