<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{cabecalho :: head}"></div>
	<title>Crud Manager - Usuário</title>
</head>

<body>
	<div class="container d-flex justify-content-center align-items-center py-5">
		<div class="user-form-container col-lg-8">
			<h2 class="mb-4 text-center">Cadastro de Usuário</h2>
			
			<form action="#" 
			      method="POST" 
			      th:action="@{/users/new}"
			      th:object="${user}"
				  class="row g-3">
				
				<input type="hidden" id="id" th:field="*{id}">
				
				<div class="col-md-6">
					<label for="name" class="form-label">Nome</label>
					<input type="text" id="name" th:field="*{name}" class="form-control">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger small"></span>
				</div>
				 
				<div class="col-md-6">
					<label for="gender" class="form-label">Sexo</label>
					<input type="text" id="gender" th:field="*{gender}" class="form-control">
					<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger small"></span>
				</div>
				     
				<div class="col-12">
					<label for="email" class="form-label">Email</label>
					<input type="email" id="email" th:field="*{email}" class="form-control">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger small"></span>
				</div>
				
				<h5 class="mt-4 pt-2 border-top">Endereço</h5>
				<input type="hidden" id="addressId" th:field="*{address.id}">
				
				<div class="col-12">
					<label for="place" class="form-label">Rua</label>
					<input type="text" id="place" th:field="*{address.place}" class="form-control">
					<span th:if="${#fields.hasErrors('address.place')}" th:errors="*{address.place}" class="text-danger small"></span>
				</div>
			
			   <div class="col-md-6">
					<label for="number" class="form-label">Número</label>
				    <input type="number" id="number" th:field="*{address.number}" class="form-control">
					<span th:if="${#fields.hasErrors('address.number')}" th:errors="*{address.number}" class="text-danger small"></span>
			   </div>
		       
		       <div class="col-md-6">
					<label for="zipcode" class="form-label">CEP</label>
					<input type="text" id="zipcode" th:field="*{address.zipCode}" class="form-control">
					<span th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="text-danger small"></span>
		       </div>
		       
				<div class="col-12 mt-4">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<a th:href="@{/}" class="btn btn-secondary ms-2">Voltar</a>
				</div>
			</form>
		</div>		
	</div>
</body>
</html>